.hebergsPanel .panel {
    display: grid;
    grid-template-columns: max-content auto max-content;
}

.hebergsPanel .logs {
    margin-top: 10px;
    border-radius: 10px;
}

.hebergsPanel .logs textarea {
    display: block;
    width: 100%;
    border-width: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(50, 50, 50);
    color: white;
    resize: none;
}

.hebergsPanel .logs input {
    display: block;
    width: 100%;
    border-width: 0;
    padding: 0;
    background-color: rgb(40, 40, 40);
    color: white;
}

.hebergsPanel .commands button {
    display: block;
    margin: 10px auto 0 auto;
    padding: 10px;
    border-width: 0;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(50, 50, 50);
    color: white;
    cursor: pointer;
    transition-duration: 150ms;
    transition-property: background-color, transform;
}

.hebergsPanel .commands button:hover {
    background-color: rgb(75, 75, 75);
}

.hebergsPanel .commands button:active {
    transform: translateY(3px);
}