.accountPage div>span {
    margin-right: 5px;
}

.avatar {
    display: inline-flex;
}

.avatar>span {
    margin: auto 5px;
}

.avatar button {
    margin: auto 10px;
}

.avatar .display {
    position: relative;
    display: flex;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.avatar .display img {
    background-color: rgb(75, 75, 75);
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition-property: filter;
    transition-duration: 150ms;
}

.avatar .display:hover img {
    filter: brightness(50%);
}

.avatar .display span {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 150ms;
}

.avatar .display:hover span {
    opacity: 1;
}

.accountPage .buttons button {
    margin: 15px 5px;
}