@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(50, 50, 50);
    color: white;
    --header-height: 85px;
    --footer-height: 59.6px;
}

.header {
    display: flex;
    background-color: rgb(100, 100, 100);
    height: var(--header-height);

    .logo {
        display: flex;

        img {
            padding: 5px;
            height: 75px;
        }

        span {
            margin: auto 10px;
            color: white;
            font-size: 30px;
        }
    }

    .linksmenu {
        display: block;
        margin: auto 10px;
        margin-top: calc(var(--header-height) / 2 - 42px / 2);
        padding: 10px;
        border-radius: 10px;
        transition-duration: 150ms;
        transition-property: background-color;
        z-index: 1;

        &.active {
            background-color: rgb(75, 75, 75);
            box-shadow: 3px 3px 5px black;
        }

        button {
            padding: 0;
            background-color: transparent;
            color: white;
            font-size: 18px;
            border-width: 0;
        }

        .links {
            margin-top: 10px;

            a {
                display: block;
                width: max-content;
                margin: 5px 10px;
                font-size: 18px;
            }
        }
    }

    .login {
        margin: auto;
        margin-right: 15px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(50, 50, 50);
        font-size: 20px;
        text-decoration: none;
        color: white;
        transition-duration: 150ms;
        transition-property: background-color;

        &:hover {
            background-color: rgb(75, 75, 75);
        }
    }

    .menu {
        margin: auto;
        margin-top: calc((85px - 60px) / 2);
        margin-right: 15px;
        text-align: center;
        border-radius: 10px;
        background-color: rgb(40, 40, 40);

        .user {
            display: flex;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition-property: background-color;
            transition-duration: 150ms;
        }

        .user:hover {
            background-color: rgb(75, 75, 75);
        }

        .user img {
            border-radius: 20px;
            height: 40px;
            width: 40px;
            background-color: rgb(75, 75, 75);
        }

        .user span {
            margin: auto;
            margin-left: 10px;
            font-size: 18px;
        }

        a {
            display: block;
            border-radius: 10px;
            padding: 5px;
            text-decoration: none;
            color: white;
        }

        a:hover {
            background-color: rgb(75, 75, 75);
        }
    }
}

.content {
    text-align: center;
    padding: 30px;
    font-size: 18px;
    min-height: calc(100vh - (var(--header-height) + var(--footer-height) + 30px * 2));

    .title {
        display: block;
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .subtitle {
        display: block;
        font-size: 30px;
        text-decoration: underline;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.footer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: var(--footer-height);
    padding: 15px;
    background-color: rgb(40, 40, 40);

    .links {
        margin: auto;

        a {
            font-size: 25px;
            margin: auto 5px;
            transition-property: color;
            transition-duration: 150ms;

            &:hover {
                color: rgb(175, 175, 175);
            }
        }
    }
}

.box {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    background-color: rgb(100, 100, 100);
    border-radius: 15px;
    font-size: 18px;
    box-shadow: 3px 3px 10px black;

    .box-title {
        display: inline-block;
        vertical-align: middle;
        margin: 7px;
        font-size: 30px;
        font-weight: bold;
    }

    img {
        vertical-align: middle;
        height: 75px;
        max-width: 75px;
        margin: 7px;
        border-radius: 20px;
    }
}

.button {
    display: block;
    padding: 8px 12px;
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 18px;
    border-width: 0;
    border-radius: 10px;
    transition-duration: 150ms;
    transition-property: background-color, transform;

    &:hover {
        background-color: rgb(75, 75, 75);
    }

    &:active {
        transform: translateY(3px);
    }

    &:disabled {
        background-color: rgb(75, 75, 75);
        color: rgb(200, 200, 200);
        transform: translateY(0);
        cursor: default;
    }
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    border-width: 0;
    border-radius: 5px;
    outline: none;
}

input[type="file"] {
    display: none;
}

input[type="checkbox"] {
    height: 18px;
    width: 18px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}

.link {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        transform-origin: 0 0;
        transform: scaleX(0);
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: currentColor;
        transition: transform 250ms;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.link-container:hover .link::after {
    transform: scaleX(1);
}

.loading i {
    font-size: 38px;
    animation: 1s linear infinite spin;
    margin-bottom: 10px;
}

.info {
    margin: 10px auto;
    width: max-content;
    padding: 10px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    animation-duration: 0.75s;
    animation-name: bounceIn;
}

.hint {
    display: inline-block;
    margin: 7px;
}

.notfound {
    .button {
        display: inline-block;
    }
}