.countdown {

    .config {
        margin-bottom: 15px;
    }

    .result {
        margin-bottom: 15px;
        font-size: 32px;
    }

    .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #152a38;
        cursor: none;

        .result {
            padding: 2%;
            margin: 0;
            white-space: nowrap;
            font-family: Chillax, sans-serif;
            font-weight: 500;
        }
    }

    button {
        display: inline-block;
    }
}