.hebergs {
    .hebergs {
        display: flex;
        flex-direction: column;
        align-items: center;

        .heberg {
            display: flex;
            align-items: center;
            font-size: 20px;
            gap: 15px;

            img {
                margin: 0;
                max-width: 60px;
                max-height: 60px;
            }
        }
    }
}

.hebergsPanel {
    .panel {
        display: grid;
        grid-template-columns: max-content auto max-content;
    }

    .logs {
        margin-top: 10px;
        border-radius: 10px;
    }

    .logs textarea {
        display: block;
        width: 100%;
        border-width: 0;
        margin: 0;
        padding: 0;
        background-color: rgb(50, 50, 50);
        color: white;
        resize: none;
    }

    .logs input {
        display: block;
        width: 100%;
        border-width: 0;
        padding: 0;
        background-color: rgb(40, 40, 40);
        color: white;
    }

    .commands button {
        display: block;
        margin: 10px auto 0 auto;
        padding: 10px;
        border-width: 0;
        border-radius: 10px;
        font-size: 16px;
        background-color: rgb(50, 50, 50);
        color: white;
        cursor: pointer;
        transition-duration: 150ms;
        transition-property: background-color, transform;
    }

    .commands button:hover {
        background-color: rgb(75, 75, 75);
    }

    .commands button:active {
        transform: translateY(3px);
    }
}