.hebergs {
    .hebergs {
        display: flex;
        flex-direction: column;
        align-items: center;

        .heberg {
            display: flex;
            align-items: center;
            font-size: 20px;
            gap: 15px;

            img {
                margin: 0;
                max-width: 60px;
                max-height: 60px;
            }
        }
    }
}

.heberg {
    .panel {
        display: flex;

        .box .name {
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 5px;
        }

        .infos {
            img {
                margin: 0;
                max-width: 25px;
                max-height: 25px;
            }

            .subname {
                padding-top: 5px;
                font-size: 20px;
            }
        }

        .logs {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 50vh;

            textarea {
                flex-grow: 1;
                margin-top: 5px;
                border-width: 0;
                border-radius: 10px;
                background-color: rgb(50, 50, 50);
                color: white;
                resize: none;
                outline: none;
            }
        }

        .commands {
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                padding: 10px;
                border-width: 0;
                border-radius: 10px;
                font-size: 16px;
                background-color: rgb(50, 50, 50);
                transition-duration: 150ms;
                transition-property: background-color, transform;

                &:hover {
                    background-color: rgb(75, 75, 75);
                }

                &:active {
                    transform: translateY(3px);
                }
            }
        }
    }
}