.home {
    ul {
        display: inline-block;
        text-align: left;
        margin: 0;

        div {
            font-size: 20px;
            text-decoration: underline;
            margin-bottom: 8px;
        }

        li {
            margin-bottom: 5px;
        }
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .box {
            max-width: 500px;
            min-width: min-content;
            transition-duration: 150ms;
            transition-property: transform;

            img {
                border-radius: 20px;
            }

            &:hover {
                transform: translateY(-2px);
            }
        }
    }
}