.hosting-home {
    .services {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .box {
        max-width: 500px;
        min-width: min-content;
        transition-duration: 150ms;
        transition-property: transform;

        &:hover {
            transform: translateY(-2px);
        }
    }
}