@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(50, 50, 50);
    color: white;
}

.content {
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

.content .title {
    margin-bottom: 15px;
    font-size: 42px;
    font-weight: bold;
}

.content .subtitle {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    text-decoration: underline;
}

.box {
    display: inline-block;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(100, 100, 100);
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.box a {
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}

.box img {
    vertical-align: middle;
    height: 75px;
    margin-left: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.box .name {
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

.box .subname {
    padding-top: 10px;
    font-weight: bold;
}

.button {
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-width: 0;
    background-color: rgb(100, 100, 100);
    text-decoration: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition-duration: 150ms;
    transition-property: background-color, transform;
}

.button:hover {
    background-color: rgb(75, 75, 75);
}

.button:active {
    transform: translateY(3px);
}

.link {
    text-decoration: underline;
    color: white;
}

.link:hover {
    text-decoration: none;
}

input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    padding: 5px;
    border-width: 0;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-bottom: 15px;
}

input[type="file"] {
    display: none;
}

.loading {
    position: fixed;
    display: flex;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.loading i {
    margin: auto;
    font-size: 60px;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}